// Variables

// prefix
$prefix: "ng";
$base: $prefix;
$css-prefix: "--#{$prefix}"; // --ng
$ani-prefix: "ani-#{$prefix}"; // ani-ng

/* 
	클래스명 정의
	c : color
	f : font
	bg : background
	bd : border
*/

:root {
	--main:var(--green-01);
	--sub-01: var(--blue-01);
	--sub-02:var(--gray-02);
	--error: var(--red-01);
  
	--green-01: #00AB5F;
	--green-02: #29B475;
	--green-03: #50B270;
	--blue-01: #685EFD;
	--red-01: #E24949;
	--gray-01: #EBEBEC; 
	--gray-02: #F4F6F9;

	--gray-0: #FFFFFF;
	--gray-50: #F8F8F8;
	--gray-100: #E6E6E6;
	--gray-200: #D9D9D9;
	--gray-300: #BFBFBF;
	--gray-400: #A6A6A6;
	--gray-500: #909090;
	--gray-600: #777777;
	--gray-700: #555555;
	--gray-800: #343434;
	--gray-900: #121212;
  
	--white: var(--gray-0);
	--black: var(--gray-900);
  
	//fc
	--fc-01: var(--black);
	--fc-02: var(--gray-800);
	--fc-03: var(--gray-700);
	--fc-04: var(--gray-500);
	--fc-05: var(--gray-300);
  
	--fw-r: 400; 
	--fw-m: 500;
	--fw-b: 700;
  
	--bdc-01: #F3F2F7;
	--bdc-02: #EAE9EF;
	--bdc-03: #E1E1E1;
	--bdc-04: #DDDDDD;
	--bdc-05: #CCCCCC;
	--bdc-06: #999999;
	--bdc-p: var(--green-02);
	--bdc-e: var(--red-01);

	--bgc-green-01: #EAF9F1;
	--bgc-blue-01: #F0EFFF;
	--bgc-red-01: #F8E7E9;
	--bgc-gray-01: #F8F8FA;
	--bgc-gray-02: #F3F2F7;
	--bgc-gray-03: #EEEEEE;
	
	--shadow-01: 0px 4px 8px rgba(0, 0, 0, 0.05);
	--shadow-02: 0px 2px 4px rgba(0, 0, 0, 0.1);
	--shadow-02-bd: 2px solid var(--main);

	--ff-noto: 'Noto Sans KR', stem-ui, -apple-system, sans-serif;
	--ff-roboto: 'Roboto', 'Noto Sans KR', stem-ui, -apple-system, sans-serif;
	--ls-01: -0.025em;
	--ls-02: 0;

	--pd01: 15px 20px;	
	--pd02: 13px 15px;

	--h01: 30px;
	--h02: 36px;
	--h03: 42px;
	--h04: 48px;
	--h05: 54px;
	--h05-in: 52px;
 
	--bdr-01: 6px;
	--bdr-02: 8px;
	--bdr-03: 10px;
	--bdr-04: 12px;
	--bdr-05: 15px;

	--mg-01: 8px;
	--mg-02: 15px;
	--mg-chk: 6px;

	--btn-bdc-01: var(--bdc-03);
	--btn-bdc-02: var(--main);

	--hr-c: var(--gray-bg-01);
	--hr-h: 10px
	--hr-mg: 40px;

	--fz-01: 14px;
	--fz-02: 16px;
	--fz-03: 18px;
	--fz-04: 20px;
	--fz-05: 24px;
	--fz-06: 30px;
	
	--lh-01: 22px;
	--lh-02: 24px;
	--lh-03: 26px;
	--lh-04: 30px;
	--lh-05: 34px;
	--lh-06: 40px;

	--body-bg:				var(--white)
	--body-c:				var(--fc-03);
	--body-ff:				var(--ff-roboto);
	--body-fz:				var(--fz-01);
	--body-fw:				var(--fw-r);
	--body-text-align:		left;

	--input-h:				var(--h05);
	--input-in-h:			var(--h05-in);
	--input-fs:				var(--fs-02);
	--input-padding:		15px 20px;
	--input-lh:				var(--lh-05);
	--input-ls:				var(--ls-01);
	--input-bdc:			var(--btn-bdc-01);
	--input-bdr:			var(--bdr-04);
	--input-bd-c-active:	var(--main);
	--input-bd-c-error:		var(--error); 
	--input-bd:				1px 1px 1px 1px solid var(--input-bd-c);
	--input-bd-r:			var(--bd-r-05);
	--input-mg:				var(--mg-01);

	--radio-h: var(--h02);
	
	//reboot
	--heading-fz:		var(--fz-b);
	--heading-h1-fz:	var(--fz-06);
	--heading-h2-fz:	var(--fz-05);
	--heading-h3-fz:	var(--fz-04);
	--heading-h4-fz:	var(--fz-03);
	--heading-h5-fz:	var(--fz-02);
	--heading-h6-fz:	var(--fz-01);
	--heading-h1-lh:	var(--lh-06);
	--heading-h2-lh:	var(--lh-05);
	--heading-h3-lh:	var(--lh-04);
	--heading-h4-lh:	var(--lh-03);
	--heading-h5-lh:	var(--lh-02);
	--heading-h6-lh:	var(--lh-01);
	--dt-fz:			var(--fz-b);
	--strong-fz:		var(--fz-b);
	--small-fz:		.875em;
	--mark-pd:			1em;
	--mark-bg-c:		var(--green-01);
	--link-c:			inherit;
	--link-hover-c:		inherit;
	--link-decoration:	none;
	--pre-c:			var(--black);
	--code-ff:			var(--body-ff);
	--code-fs:			1em;
	--code-fc:			var(--black);
	--kbd-pd:			10px;
	--kbd-bg:			var(--gray-bg-01);
	--kbd-bd-r:			var(--bd-r-01);
	--kbd-kbd-fz:		var(--fz-b);
	--legend-mb:		0px;
	--legend-fs:		0px;

	--table-caption:			.5rem .5rem;
	--table-cell-pd:			.5rem .5rem;
	--table-cell-vertical-a:	top;
	--table-c:					var(--body-c);
	--table-bg:					transparent;
	--table-th-fz:				var(--fz-r);
	--table-accent-bg:			transparent;
}